# Web scarping with Keith Revision:

In [1]:
from bs4 import BeautifulSoup
import requests
import re

In [226]:
url = 'https://keithgalli.github.io/web-scraping/'
source =  requests.get(url+'webpage.html')

webpage = BeautifulSoup(source.text, 'html.parser')

In [88]:
scoial = webpage.find_all('ul', class_= 'socials')

In [89]:
scoial

[<ul class="socials">
 <li class="social instagram"><b>Instagram: </b><a href="https://www.instagram.com/keithgalli/">https://www.instagram.com/keithgalli/</a></li>
 <li class="social twitter"><b>Twitter: </b><a href="https://twitter.com/keithgalli">https://twitter.com/keithgalli</a></li>
 <li class="social linkedin"><b>LinkedIn: </b><a href="https://www.linkedin.com/in/keithgalli/">https://www.linkedin.com/in/keithgalli/</a></li>
 <li class="social tiktok"><b>TikTok: </b><a href="https://www.tiktok.com/@keithgalli">https://www.tiktok.com/@keithgalli</a></li>
 </ul>]

In [102]:
for i in scoial:
    print(i.text)

Instagram: https://www.instagram.com/keithgalli/
Twitter: https://twitter.com/keithgalli
LinkedIn: https://www.linkedin.com/in/keithgalli/
TikTok: https://www.tiktok.com/@keithgalli

In [71]:
links

# Another solution:

In [104]:
links = webpage.select('ul.socials a')

actual_links = [link.get('href') for link in links]
actual_links

['https://www.instagram.com/keithgalli/',
 'https://twitter.com/keithgalli',
 'https://www.linkedin.com/in/keithgalli/',
 'https://www.tiktok.com/@keithgalli']

# Scrapingg the table

In [133]:
table = webpage.find_all('th')

In [134]:
columns = [i.text for i in table]

columns

['S',
 'Team',
 'League',
 'GP',
 'G',
 'A',
 'TP',
 'PIM',
 '+/-',
 '\xa0',
 'POST',
 'GP',
 'G',
 'A',
 'TP',
 'PIM',
 '+/-']

In [135]:
tables = webpage.find_all('td')

In [137]:
rows = [i.text.strip('\n') for i in tables]

In [149]:
import pandas as pd
df = pd.DataFrame(columns = columns)

l = []

for tr in webpage.find('tbody').find_all('tr'):
    td = tr.find_all('td')
    #without specfiying in the strip method
    row = [i.text.strip() for i in td]
    l.append(row)
    
df = pd.DataFrame(l, columns = columns)

In [150]:
df

,S,Team,League,GP,G,A,TP,PIM,+/-,,POST,GP,G,A,TP,PIM,+/-
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17,3,9,12,20,,|,,,,,,,
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9,1,1,2,2,,|,,,,,,,
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12,5,5,10,8,0,|,,,,,,,
3,2017-18,Did not play,,,,,,,,|,,,,,,,
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8,5,10,15,8,,|,,,,,,,

In [189]:
fun_facts = webpage.select('ul.fun-facts li')

In [199]:
with_is = [fact.find(string=re.compile('is')) for fact in fun_facts]

In [200]:
with_is =  [fact.find_parent().get_text() for fact in with_is if fact]

In [201]:
with_is

['Middle name is Ronald',
 'Dunkin Donuts coffee is better than Starbucks',
 "A favorite book series of mine is Ender's Game",
 'Current video game of choice is Rocket League',
 "The band that I've seen the most times live is the Zac Brown Band"]

# Web Scraping an image

In [223]:
images= webpage.select('div img')

In [224]:
image_url = images[0]['src']

In [227]:
full_url = url+image_url

In [230]:
img_data = requests.get(full_url).content

In [231]:
with open('lake_como.jpg', 'wb') as img:
    img.write(img_data)