# Web scraping with Alex:

Importing the libraries

In [125]:
import requests
from  bs4 import BeautifulSoup

In [60]:
request = requests.get('https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue')

In [61]:
doc = BeautifulSoup(request.text, 'html.parser')

In [ ]:
<table class="wikitable sortable sticky-header-multi sort-under jquery-tablesorter" style="text-align:left;">

# EXTRACT THE TITLES OF THE COLUMNS

In [62]:
table = doc.find_all('table')[0]

In [100]:
world_titles = table.find_all('th')

In [101]:
world_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [102]:
world_table_titles = [title.text.strip('\n') for title in world_titles]

In [103]:
world_table_titles

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

# In case you have duplicates, you can use fromkeys:

Input: You provide a list (input_list) that may contain duplicate elements.

Process:

dict.fromkeys(input_list) creates a dictionary where the elements of the list become the dictionary keys. In a dictionary, keys must be unique, so any duplicate values in the list are automatically removed.
For example, if input_list is [1, 2, 2, 3], dict.fromkeys(input_list) creates {1: None, 2: None, 3: None}. The duplicates (2) are removed.
Output: Finally, the list() function converts the dictionary back into a list, and because dictionaries maintain the order of insertion (since Python 3.7), the original order of elements is preserved.

So, for an input of [1, 2, 2, 3], the output will be [1, 2, 3].

In [99]:
list(dict.fromkeys(world_table_titles))

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters',
 'Revenue (USD billions)',
 'Profits(USD millions)']

In [104]:
import pandas as pd

df = pd.DataFrame(columns = world_table_titles)

In [105]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

# Get the info and put them under each column:

In [114]:
column_data = table.find_all('tr')

In [123]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    ind_row_data = [data.text.strip('\n') for data in row_data]
    
    length = len(df)

    df.loc[length] = ind_row_data

In [124]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
295,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
296,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
297,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
298,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
299,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"